@model WebbuyMe.Models.ViewModel.ProductsViewModel
@using WebbuyMe.Extensions

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Product</h4>
<hr />


<input type="hidden" asp-for="Products.Id" />
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="container border rounded row">
        <div class="row">
            <input type="hidden" asp-for="Products.Id"/>
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="Products.Name" class="control-label"></label>
                    <input asp-for="Products.Name" class="form-control" />
                    <span asp-validation-for="Products.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Products.Price" class="control-label"></label>
                    <input asp-for="Products.Price" class="form-control" />
                    <span asp-validation-for="Products.Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Products.Image" class="control-label"></label>
                    <input asp-for="Products.Image" type="file" class="form-control" name="files" />
                </div>

                <div class="form-group">
                    <label asp-for="ProductTypes" class="control-label"></label>
                    <select asp-for="@Model.Products.ProductTypeId" asp-items="Model.ProductTypes.ToSelectListItem(Model.Products.ProductTypeId)" class="form-control">
                    </select>
                    <span asp-validation-for="ProductTypes" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SpecialTags" class="control-label"></label>
                    <select asp-for="@Model.Products.SpecialTagsId" asp-items="Model.SpecialTags.ToSelectListItems(Model.Products.SpecialTagsId)" class="form-control">
                    </select>
                    <span asp-validation-for="ProductTypes" class="text-danger"></span>
                </div>

                @*<div class="form-group">
                        <label asp-for="SpecialTags" class="control-label"></label>

                        <select asp-for="Products.SpecialTags.SpecialTagsId" class="form-control">
                            @foreach (var cat in Model.SpecialTags)
                            {
                                <option value="@cat.SpecialTagsId">@cat.Name</option>
                            }
                        </select>

                    </div>*@

                <div class="form-group">
                    <label asp-for="Products.ShadeColor" class="control-label"></label>
                    <input asp-for="Products.ShadeColor" class="form-control" />
                    <span asp-validation-for="Products.ShadeColor" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Products.Available" class="control-label"></label>
                    <input asp-for="Products.Available" type="checkbox" />
                </div>


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <img src="@Model.Products.Image" width="100%" style="border-radius:5px; border:1px solid #4cff00" />
            </div>

        </div>
    </div>

</form>
<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
